<div ng-controller="izmenaCtrl">



	<section class="page-section about-heading">
		<div class="container">
			<img class="img-fluid rounded about-heading-img mb-3 mb-lg-0"
				src="/assets/img/about.jpg" alt="">
			<div class="about-heading-content">
				<div class="row">
					<div class="col-xl-9 col-lg-10 mx-auto">
						<div class="bg-faded rounded p-5">
							<h2 class="section-heading mb-4">
								<span class="section-heading-upper"></span> <span
									class="section-heading-lower">Izmeni knjigu</span>
							</h2>
							<div>
								<form>
									<div class="form-group">
										<label for="naziv">Naziv</label> <input type="text"
											class="form-control" id="naziv" ng-model="staraKnjiga.naziv">
									</div>
									<div class="form-group">
										<label for="izdanje">Izdanje</label> <input type="text"
											class="form-control" id="izdanje"
											ng-model="staraKnjiga.izdanje">
									</div>
									<div class="form-group">
										<label for="pisac">Pisac</label> <input type="text"
											class="form-control" id="pisac" ng-model="staraKnjiga.pisac">
									</div>

									<div class="form-group">
										<label for="isbn">ISBN</label> <input type="text"
											class="form-control" id="isbn" ng-model="staraKnjiga.ISBN">
									</div>
									<div class="form-group">
										<label for="izdavac">Izdavac</label> <select id="izdavac"
											class="form-control" ng-model="staraKnjiga.izdavacId">
											<option ng-repeat="i in izdavaci" value="{{i.id}}">
												{{i.naziv}}</option>
										</select>
									</div>


									<button class="btn btn-primary" ng-click="izmeniKnjigu()">Izmeni</button>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<br>
 


</div>
</div>