<div ng-controller="knjigeCtrl">



	<section class="page-section about-heading">
		<div class="container">
			<img class="img-fluid rounded about-heading-img mb-3 mb-lg-0"
				src="/assets/img/about.jpg" alt="">
			<div class="about-heading-content">
				<div class="row">
					<div class="col-xl-9 col-lg-10 mx-auto">
						<div class="bg-faded rounded p-5">
							<h2 class="section-heading mb-4">
								<span class="section-heading-upper"></span> <span
									class="section-heading-lower">Dodaj novu knjigu</span>
							</h2>
							<div>
								<form>
									<div class="form-group">
										<label for="naziv">Naziv</label> <input type="text"
											class="form-control" id="naziv" ng-model="novaKnjiga.naziv">
									</div>
									<div class="form-group">
										<label for="izdanje">Izdanje</label> <input type="number"
											class="form-control" id="izdanje"
											ng-model="novaKnjiga.izdanje">
									</div>
									<div class="form-group">
										<label for="pisac">Pisac</label> <input type="text"
											class="form-control" id="pisac" ng-model="novaKnjiga.pisac">
									</div>

									<div class="form-group">
										<label for="isbn">ISBN</label> <input type="text"
											class="form-control" id="isbn" ng-model="novaKnjiga.ISBN">
									</div>
									<div class="form-group">
										<label for="izdavac">Izdavac</label> <select id="izdavac"
											class="form-control" ng-model="novaKnjiga.izdavacId">
											<option ng-repeat="i in izdavaci" value="{{i.id}}">
												{{i.naziv}}</option>
										</select>
									</div>
									<button class="btn btn-primary" ng-click="addKnjiga()">Dodaj</button>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<br>
	<section class="page-section about-heading">
		<div class="container">
			<div class="about-heading-content">
				<div class="row">
					<div class="w-col col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<div class="bg-faded rounded p-5">

							<div>
								<h3>Pronadji knjigu</h3>
								<form class="form-inline">
									<div class="form-group">
										<label for="naziv">Title</label> <input type="text"
											class="form-inline" id="naziv" ng-model="trazenaKnjiga.naziv">
									</div>
									<div class="form-group">
										<label for="pisac">Author</label><input type="text"
											class="form-inline" id="pisac" ng-model="trazenaKnjiga.pisac">
									</div>
									<div class="form-group">
										<label for="glas">Votes</label> <input type="text"
											class="form-inline" id="glas"
											ng-model="trazenaKnjiga.brojGlasova">
									</div>
									<button class="btn btn-primary" ng-click="filtriranje()">Search</button>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<br>

	<section class="page-section about-heading">
		<div class="container">
			<div class="about-heading-content">
				<div class="row">
					<div class="w-col col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<div class="bg-faded rounded p-5">
						
						<h6 class="section-heading mb-5">
               			 <span class="section-heading-upper">Najpopularnija knjiga trenutno:</span>
               			 <span class="section-heading-lower"> "{{najpopularnije.naziv}}"</span>
             			 </h6>

							<div>
								<div class="btn-group pull-right" >
									<button ng-disabled="pageNum==0" ng-click="page(-1)"
										class="btn btn-secondary"> <<
										 
									</button>
									<button ng-disabled="pageNum >= totalPages-1"
										ng-click="page(1)" class="btn btn-secondary">
										>>
									</button>
								</div>
								<div class="w-col col-lg-12 col-md-12 col-sm-12 col-xs-12">
									<table
									class="table table-bordered table-striped table-condensed table-responsive">
									<thead>
										<tr>
											<th>Naziv</th>
											<th>Izdanje</th>
											<th>Pisac</th>
											<th>Broj glasova</th>
											<th>Izdavac</th>
										</tr>
									</thead>
									<tbody>
									<tr ng-repeat="x in knjige">
										<td>{{x.naziv}}</td>
										<td>{{x.izdanje}}</td>
										<td>{{x.pisac}}</td>
										<td>{{x.brojGlasova}}</td>
										<td>{{x.izdavacNaziv}}</td>
										<td>
											<button ng-click="deleteKnjiga(x.id)" class="btn btn-danger">Brisanje</button>
											<button ng-click="izmena(x.id)" class="btn btn-primary">Izmena</button>
											<button ng-click="glasaj(x.id)" class="btn btn-success">+1</button>
										</td>
									</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

</div>
</div>